//**公共样式***********************************************/
$color_default: #a5a5a5; // 默认字体颜色
$color_white: #fff; // 白色
$color_black: #000; // 黑色
$color_bg: #1b1b2c; // 背景色-深蓝色 top、弹框、下拉框等
$color_theme: #43bafe; // 主题色-亮蓝-菜单选中、面板标题颜色
$color_sub1: #288cba; // 辅助色1-暗蓝- 拉框/tab页选中颜色、专题按钮下划线等
$color_sub2: #ffa500; // 辅助色2-橙色
$color_sub3: #f4c848; // 辅助色3-黄色
